# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
#Srodowisko?
/.idea/
/__pycache__/
/dist/
/build/
main.spec
File Encryptor.spec
